<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header th:fragment="offer_received">
    <link rel="stylesheet" type="text/css" href="../static/css/offer_received.css">
    <div style="padding: 20px 20px;">
        <span>已收到的最优报价</span>
    </div>
    <div style="padding: 0px 0px; background-color: #555a58">
        <hr>
    </div>
    <div>
        <table id="offer_table1">
            <tr style="background-color: #eeeeee">
                <th>车辆编号</th>
                <th>车辆品牌</th>
                <th>车辆型号</th>
                <th>车辆起价</th>
                <th>报价方</th>
                <th>报价金额</th>
                <th style="border: 1px white; background-color: white"></th>
            </tr>
        </table>
    </div>
    <div style="padding-top: 20px">
        <table id="offer_table2">
            <tr style="background-color: white" th:each="offer:${offerList}">
<!--                <td th:text="${offer.getOfferId()}"></td>-->
                <td th:text="${offer.getVehicleId()}"></td>
                <td th:text="${offer.getVehicleBrand()}"></td>
                <td th:text="${offer.getVehicleType()}"></td>
                <td th:text="${offer.getVehiclePrice()}+万"></td>
                <td th:text="${offer.getBuyerName()}"></td>
                <td th:text="${offer.getOfferPrice()}+  万"></td>
                <td>
                    <form action="/accept_offer" method="post" style="text-align: center">
                        <input type="hidden" name="vehicleId" th:value="${offer.getVehicleId()}">
                        <input type="hidden" name="offerId" th:value="${offer.getOfferId()}">
                        <input class="submit" th:id="${offer.getOfferId()}+submit" type="submit" value="成交">
                        <input disabled="disabled" th:id="${offer.getOfferId()}+text" value="" type="text" class="input_text" style="display: none">
                    </form>
                    <input class="offer_status" th:id="${offer.getOfferId()}" th:value="${offer.getOfferStatus()}" type="hidden">
                </td>
            </tr>
        </table>
    </div>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script>
        $(function () {
            var offerList = $(".offer_status");
            for (var i=0; i<offerList.length; i++){
                var status = offerList[i].id;
                var val = $(offerList[i]).val();
                if (val !== "待定"){
                    var submit_id = status + "submit";
                    var text_id = status + "text";
                    var submit = document.getElementById(submit_id);
                    var text = document.getElementById(text_id);

                    $(submit).css({
                        display: "none"
                    });
                    $(text).css({
                        display: "block"
                    });
                    $(text).val(val);
                }
            }
        })
    </script>
</header>
</html>