<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header th:fragment="offer_sent">
    <link rel="stylesheet" type="text/css" href="../static/css/offer_sent.css">
    <div style="padding: 20px 20px;">
        <span>给出的报价浏览</span>
    </div>
    <div style="padding: 0px 0px; background-color: #555a58">
        <hr>
    </div>
    <div>
        <table id="offer_sent_table1">
            <tr style="background-color: #eeeeee">
                <th>车辆编号</th>
                <th>车辆品牌</th>
                <th>车辆型号</th>
                <th>车辆起价</th>
                <th>收价方</th>
                <th>报价金额</th>
                <th>报价状态</th>
                <th style="background-color: white; border: 1px white"></th>
            </tr>
        </table>
    </div>
    <div style="padding-top: 20px">
        <table id="offer_sent_table2">
            <tr style="background-color: white" th:each="offer:${offerList}">
                <!--                <td th:text="${offer.getOfferId()}"></td>-->
                <td th:text="${offer.getVehicleId()}"></td>
                <td th:text="${offer.getVehicleBrand()}"></td>
                <td th:text="${offer.getVehicleType()}"></td>
                <td th:text="${offer.getVehiclePrice()}+万"></td>
                <td th:text="${offer.getSellerName()}"></td>
                <td th:text="${offer.getOfferPrice()}+  万"></td>
                <td th:text="${offer.getOfferStatus()}"></td>
                <td>
                    <form th:id="${offer.getOfferId()}+form" action="/finishOffer" method="post" style="display: none">
                        <input type="hidden" th:value="${offer.getOfferId()}" name="offerId">
                        <input class="submit" th:id="${offer.getOfferId()}+submit" type="submit" value="填写订单">
                    </form>
                    <input class="offer_status" th:id="${offer.getOfferId()}" th:value="${offer.getOfferStatus()+offer.getVehicleOnSale()}" type="hidden">
                </td>
            </tr>
        </table>
    </div>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script>
        var statusList = $(".offer_status");
        console.log(statusList.length);
        for (var i=0; i<statusList.length; i++){
            console.log(1234);
            var status = statusList[i].id;
            var val = $(statusList[i]).val();
            console.log(status);
            console.log(val);
            if (val == "已成交1" || val == "已成交2"){
                console.log(123);
                var form_id = status + "form";
                console.log(form_id);
                var form = document.getElementById(form_id);
                $(form).css({
                    display: "block"
                });
            }
        }
    </script>
</header>
</html>