<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header th:fragment="user_info" style="text-align: center; padding-top: 30px">
    <link rel="stylesheet" type="text/css" href="../static/css/user_info.css">
    <form action="/updateUser" method="post">
        <input type="hidden" name="userId" th:value="${user.getUserId()}">
        <input type="hidden" name="username" th:value="${user.getUsername()}">
        用户名：<input type="text" disabled="disabled" id="username" th:value="${user.getUsername()}"><br>
        原密码：<input type="password" id="old_password" placeholder="输入原密码"><br>
        新密码：<input type="password" name="password" id="password" placeholder="输入新密码"><br>
        &nbsp;&nbsp;&nbsp;确认：<input type="password" id="repassword" placeholder="确认新密码"><br>
        <input type="submit" name="" id="submit" style="border: 1px solid gray; padding: 0px 5px ;
                                background-color: deepskyblue; color: white;" value="保存设置">
    </form>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script th:inline="javascript">
        $(function () {
            $("#submit").click(function () {
                if ($("#old_password").val() == "" || $("#password").val() == "" || $("#repassword").val()==""){
                    alert("输入框的内容不能为空");
                    return false;
                } else if ($("#old_password").val() !== [[${user.getPassword()}]]){
                    alert("输入原密码错误");
                    return false;
                } else if ($("#password").val() !== $("#repassword").val()){
                    alert("新密码两次输入不一致");
                    return false;
                }
            });
        });
    </script>
</header>
</html>