<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header th:fragment="vehicle_user">
    <link rel="stylesheet" type="text/css" href="../static/css/vehicle_user.css">
    <div style="padding: 20px 20px;">
        <span>全部车辆</span>
    </div>
    <div style="padding: 0px 0px; background-color: #555a58">
        <hr>
    </div>
    <div>
        <table id="table1">
            <tr style="background-color: #eeeeee">
                <th>车辆编号</th>
                <th>车辆品牌</th>
                <th>车辆车系</th>
                <th>车辆售价</th>
                <th>车辆状态</th>
                <th style="background-color: white"></th>
            </tr>
        </table>
    </div>
    <div style="padding-top: 20px">
        <table id="table2">
            <tr style="background-color: white" th:each="vehicle:${MyVehicleList}">
                <td th:text="${vehicle.getVehicleId()}"></td>
                <td th:text="${vehicle.getVehicleBrand()}"></td>
                <td th:text="${vehicle.getVehicleType()}"></td>
                <td th:text="${vehicle.getVehiclePrice()}+万"></td>
                <td th:text="${vehicle.getVehicleStatus()}"></td>
                <td style="padding: 3px 3px; text-align: center">
<!--                    <form class="user_vehicle_form" action="/sell_vehicle" method="post">
                        <input type="hidden" name="vehicleId" th:value="${vehicle.getVehicleId()}">
                        <input style="width: 80px;height: 30px;" type="submit" th:value="${vehicle.getVehicleOperate()}">
                    </form>-->
                    <form class="user_vehicle_form" action="/forVehicle" method="post">
                        <input type="hidden" name="vehicleId" th:value="${vehicle.getVehicleId()}">
                        <input style="width: 80px;height: 30px;" type="submit" value="车辆详情">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script>
    </script>
</header>
</html>
