<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="../static/css/admin_manage/brand_manage.css">
<div>
    <!--<span id="span_brand_manage">品牌管理</span>-->
    <table id="brand_table" cellspacing="0">
        <tr id="th_tr">
            <th>品牌编号</th>
            <th>品牌名称</th>
            <th>品牌图片</th>
            <th>操作</th>
        </tr>
        <tr class="td_tr" th:each="brand:${brandList}">
            <td th:text="${brand.getBrandId()}"></td>
            <td th:text="${brand.getBrandName()}"></td>
            <td th:text="${brand.getBrandImage()}"></td>
            <td>
                <form method="post" action="/delBrand.do">
                    <input type="hidden" name="brandId" th:value="${brand.getBrandId()}">
                    <input type="submit" value="删除" class="submit_btn">
                </form>
            </td>
        </tr>
    </table>
    <button id="add_brand">添加品牌</button>
    <span th:text="${message}"></span>
    <br>
    <form method="post" action="/addBrand.do">
    <table id="table_addItem" style="display: none;">
        <tr style="padding: 10px 0px;">
            <td>
                <input style="padding-left: 10px; margin: 10px 20px; width: 250px; height: 30px;" type="text" name="brandId" id="brand_id" placeholder="品牌编号">
            </td>
            <td>
                <input style="padding-left: 10px; margin: 10px 20px; width: 250px; height: 30px;" type="text" name="brandName" id="brand_name" placeholder="品牌名称">
            </td>
            <td>
                <input style="padding-left: 10px; margin: 10px 20px; width: 250px; height: 30px;" type="text" name="brandImage" id="brand_image" placeholder="品牌图片url">
            </td>
            <td>
                <input style="margin: 10px 60px; width: 60px; height: 30px;background-color: deepskyblue; border: 1px solid white; color: white" id="submit_addBrand" type="submit" value="保存">
                <input style="margin: 10px 10px; width: 60px; height: 30px;background-color: red; border: 1px solid white; color: white" id="quit" type="submit" value="取消">
            </td>
        </tr>
    </table>
    </form>
    <script src="../static/js/admin_manage/brand_manage.js"></script>
</div>