#offer_table1{
    color: #56585a;
}
#offer_table2{
    color: #56585a;
}
th, td{
    height: 40px;
    width: 200px;
}
td{
    text-align: center;
}
#submit{
    height: 30px;
    width: 80px;
    background-color: deepskyblue;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}