<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>一口价购买</title>
    <style>
        input {
            margin: 20px 20px;
            border: 1px solid gray;
            height: 30px;
            padding-left: 5px;
            color: #56585a;
            border-radius: 5px;
        }

        .submit{
            height: 50px;
            width: 120px;
            font-size: 16px;
            background-color: coral;
            color: white;
            border: 0px;
            border-radius: 5px;
        }

    </style>
</head>
<body>
<div th:replace="common/header :: header"></div>
<div style="text-align: center">
    <div>
        <span>购买的车辆：</span><span th:text="${vehicle.getVehicleBrand()+vehicle.getVehicleType()}"></span>
    </div>
    <form action="/finish_order" method="post">
        <input type="hidden" name="vehicleId" th:value="${vehicle.getVehicleId()}">
        <input type="hidden" name="seller_id" th:value="${vehicle.getVehicleOwner()}">
        <input type="hidden" id="user_password" th:value="${user.getPassword()}">
        订单地址: <input type="text" name="address" placeholder="输入地址"><br>
        真实姓名: <input type="text" name="realName" placeholder="输入姓名"><br>
        手机号码: <input type="text" name="phoneNumber" placeholder="输入手机号"><br>
        账号密码: <input id="password" type="password" placeholder="输入密码"><br>
        <input id="submit" type="submit" value="购买车辆">
    </form>
</div>
<script src="../static/js/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        $("#submit").click(function () {
            var password = $("#user_password").val();
            if ($("#password").val() !== password){
                alert("密码错误，请重新输入！");
                return false;
            }
            if (false == confirm("确认购买")){
                return false;
            }
        });
    });
</script>
</body>
</html>